<link rel="stylesheet" href="../css/navbar.css">
<nav class="navbar fixed-top navbar-expand-lg navbar-light  navbarcss">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SEH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navacon">
        <a class="navcon  active"  aria-current="page" href="/">Home</a>
        <a href="/#footer" class="navcon">Contact</a>
        <a href="/" class="navcon">Services</a>
        <a class="navcon disabled" href="/#cont2" tabindex="-1" aria-disabled="true">Products</a>
      </div>
    </div>
  </div>
</nav>




{{!-- F5F0E9 --}}